@page
@model WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    ViewData["Category1"] = "SmartAdmin";
    ViewData["PageName"] = "aspnetcore_welcome";
    ViewData["PreemptiveClass"] = "Default";
    ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: <span class='fw-300'>SmartAdmin for .NET Core</span>";
}

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    21.5k
                    <small class="m-0 l-h-n">users signed up</small>
                </h3>
            </div>
            <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    $10,203
                    <small class="m-0 l-h-n">Visual Index Figure</small>
                </h3>
            </div>
            <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    - 103.72
                    <small class="m-0 l-h-n">Offset Balance Ratio</small>
                </h3>
            </div>
            <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    +40%
                    <small class="m-0 l-h-n">Product level increase</small>
                </h3>
            </div>
            <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Marketing profits
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content bg-subtlelight-fade">
                    <div id="js-checkbox-toggles" class="d-flex mb-3">
                        <div class="custom-control custom-switch mr-2">
                            <input type="checkbox" class="custom-control-input" name="gra-0" id="gra-0" checked="checked">
                            <label class="custom-control-label" for="gra-0">Target Profit</label>
                        </div>
                        <div class="custom-control custom-switch mr-2">
                            <input type="checkbox" class="custom-control-input" name="gra-1" id="gra-1" checked="checked">
                            <label class="custom-control-label" for="gra-1">Actual Profit</label>
                        </div>
                        <div class="custom-control custom-switch mr-2">
                            <input type="checkbox" class="custom-control-input" name="gra-2" id="gra-2" checked="checked">
                            <label class="custom-control-label" for="gra-2">User Signups</label>
                        </div>
                    </div>
                    <div id="flot-toggles" class="w-100 mt-4" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Example <span class="fw-300"><i>Table</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover w-100">
                        <thead>
                            <tr>
                                <th class="width-10">ProjectID</th>
                                <th>Projects</th>
                                <th>EST</th>
                                <th>Status</th>
                                <th class="text-right">Contacts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A1001</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Frontend Design & Framework</a>
                                    <br>
                                    <small class="text-muted">Created 14.08.2019</small>
                                </td>
                                <td>56</td>
                                <td>3</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-b.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-h.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s fs-xs">
                                            <span data-hasmore="+7" class="rounded-circle profile-image-sm">
                                                <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1002</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Database Revamp</a>
                                    <br>
                                    <small class="text-muted">Created 18.08.2019</small>
                                </td>
                                <td>88</td>
                                <td>7</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-g.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-i.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1003</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">AngularJS UI design and development</a>
                                    <br>
                                    <small class="text-muted">Created 03.07.2020</small>
                                </td>
                                <td>36</td>
                                <td>2</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-g.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-m.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1004</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Brick factory</a>
                                    <br>
                                    <small class="text-muted">Created 22.11.2020</small>
                                </td>
                                <td>64</td>
                                <td>7</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-f.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-h.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-d.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1005</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Car Industry Studies</a>
                                    <br>
                                    <small class="text-muted">Created 14.01.2020</small>
                                </td>
                                <td>74</td>
                                <td>8</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-m.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1006</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Create filters and directives</a>
                                    <br>
                                    <small class="text-muted">Created 18.03.2020</small>
                                </td>
                                <td>38</td>
                                <td>8</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-b.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1007</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">IT Room Renovation</a>
                                    <br>
                                    <small class="text-muted">Created 27.03.2020</small>
                                </td>
                                <td>95</td>
                                <td>4</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-d.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1008</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark"><strong>Phase 1:</strong> Modual implimentations</a>
                                    <br>
                                    <small class="text-muted">Created 31.07.2020</small>
                                </td>
                                <td>15</td>
                                <td>2</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-i.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-m.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1009</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark"><strong>Phase 2:</strong> Beta testing</a>
                                    <br>
                                    <small class="text-muted">Created 07.04.2020</small>
                                </td>
                                <td>88</td>
                                <td>7</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-g.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-i.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1010</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark"><strong>Phase 3:</strong> Deploy to management</a>
                                    <br>
                                    <small class="text-muted">Created 11.04.2020</small>
                                </td>
                                <td>65</td>
                                <td>3</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1011</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Preliminary studies of client intel</a>
                                    <br>
                                    <small class="text-muted">Created 14.05.2020</small>
                                </td>
                                <td>96</td>
                                <td>8</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-b.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1012</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Prepare property management contracts</a>
                                    <br>
                                    <small class="text-muted">Created 22.04.2020</small>
                                </td>
                                <td>100</td>
                                <td>1</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-g.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-b.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1013</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Publish to Wrapbootstrap</a>
                                    <br>
                                    <small class="text-muted">Created 29.03.2020</small>
                                </td>
                                <td>34</td>
                                <td>7</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-d.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1014</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">IE Bugs</a>
                                    <br>
                                    <small class="text-muted">Created 15.01.2020</small>
                                </td>
                                <td>67</td>
                                <td>2</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-c.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-d.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1015</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Refurbish Architecture</a>
                                    <br>
                                    <small class="text-muted">Created 10.08.2020</small>
                                </td>
                                <td>23</td>
                                <td>8</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-g.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-h.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1016</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Sharepoint Upgrade</a>
                                    <br>
                                    <small class="text-muted">Created 14.08.2020</small>
                                </td>
                                <td>76</td>
                                <td>5</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-m.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-f.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1017</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Update all forms</a>
                                    <br>
                                    <small class="text-muted">Created 14.08.2020</small>
                                </td>
                                <td>37</td>
                                <td>5</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-d.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1018</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">Upgrade to windows 8.1</a>
                                    <br>
                                    <small class="text-muted">Created 14.08.2020</small>
                                </td>
                                <td>75</td>
                                <td>3</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-k.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-h.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-e.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-a.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-m.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                        <a href="#" class="btn-m-s fs-xs">
                                            <span data-hasmore="+7" class="rounded-circle profile-image-sm">
                                                <img src="img/demo/avatars/avatar-j.png" class="profile-image-sm rounded-circle" alt="aa">
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A1010</td>
                                <td>
                                    <a href="page_projects.html" class="fs-lg text-dark">IOA Caption Formation</a>
                                    <br>
                                    <small class="text-muted">Created 14.08.2020</small>
                                </td>
                                <td>93</td>
                                <td>6</td>
                                <td>
                                    <div class="fs-sm d-flex align-items-center flex-row-reverse">
                                        <a href="#" class="btn-m-s">
                                            <img src="img/demo/avatars/avatar-admin.png" class="profile-image-sm rounded-circle" alt="aa">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="width-10">ProjectID</th>
                                <th>Projects</th>
                                <th>EST</th>
                                <th>Status</th>
                                <th class="text-right">Contacts</th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
@section ScriptsBlock{
    <script src="js/statistics/peity/peity.bundle.js"></script>
    <script src="js/statistics/flot/flot.bundle.js"></script>
    <script src="js/statistics/easypiechart/easypiechart.bundle.js"></script>
    <script src="js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        var dataTargetProfit = [
            [1354586000000, 153],
            [1364587000000, 658],
            [1374588000000, 198],
            [1384589000000, 663],
            [1394590000000, 801],
            [1404591000000, 1080],
            [1414592000000, 353],
            [1424593000000, 749],
            [1434594000000, 523],
            [1444595000000, 258],
            [1454596000000, 688],
            [1464597000000, 364]
        ]
        var dataProfit = [
            [1354586000000, 53],
            [1364587000000, 65],
            [1374588000000, 98],
            [1384589000000, 83],
            [1394590000000, 980],
            [1404591000000, 808],
            [1414592000000, 720],
            [1424593000000, 674],
            [1434594000000, 23],
            [1444595000000, 79],
            [1454596000000, 88],
            [1464597000000, 36]
        ]
        var dataSignups = [
            [1354586000000, 647],
            [1364587000000, 435],
            [1374588000000, 784],
            [1384589000000, 346],
            [1394590000000, 487],
            [1404591000000, 463],
            [1414592000000, 479],
            [1424593000000, 236],
            [1434594000000, 843],
            [1444595000000, 657],
            [1454596000000, 241],
            [1464597000000, 341]
        ]
        /* flot toggle example */
        var flot_toggle = function () {

            var data = [
                {
                    label: "Target Profit",
                    data: dataTargetProfit,
                    color: color.info._400,
                    bars:
                    {
                        show: true,
                        align: "center",
                        barWidth: 30 * 30 * 60 * 1000 * 80,
                        lineWidth: 0,
                        /*fillColor: {
                            colors: [color.primary._500, color.primary._900]
                        },*/
                        fillColor:
                        {
                            colors: [
                                {
                                    opacity: 0.9
                                },
                                {
                                    opacity: 0.1
                                }]
                        }
                    },
                    highlightColor: 'rgba(255,255,255,0.3)',
                    shadowSize: 0
                },
                {
                    label: "Actual Profit",
                    data: dataProfit,
                    color: color.warning._500,
                    lines:
                    {
                        show: true,
                        lineWidth: 2
                    },
                    shadowSize: 0,
                    points:
                    {
                        show: true
                    }
                },
                {
                    label: "User Signups",
                    data: dataSignups,
                    color: color.success._500,
                    lines:
                    {
                        show: true,
                        lineWidth: 2
                    },
                    shadowSize: 0,
                    points:
                    {
                        show: true
                    }
                }]

            var options = {
                grid:
                {
                    hoverable: true,
                    clickable: true,
                    tickColor: 'rgba(0,0,0,0.05)',
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,0.05)'
                },
                tooltip: true,
                tooltipOpts:
                {
                    cssClass: 'tooltip-inner',
                    defaultTheme: false
                },
                xaxis:
                {
                    mode: "time",
                    tickColor: 'rgba(0,0,0,0.05)',
                },
                yaxes:
                {
                    tickColor: 'rgba(0,0,0,0.05)',
                    tickFormatter: function (val, axis) {
                        return "$" + val;
                    },
                    max: 1200
                }

            };

            var plot2 = null;

            function plotNow() {
                var d = [];
                $("#js-checkbox-toggles").find(':checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        d.push(data[$(this).attr("name").substr(4, 1)]);
                    }
                });
                if (d.length > 0) {
                    if (plot2) {
                        plot2.setData(d);
                        plot2.draw();
                    }
                    else {
                        plot2 = $.plot($("#flot-toggles"), d, options);
                    }
                }

            };

            $("#js-checkbox-toggles").find(':checkbox').on('change', function () {
                plotNow();
            });
            plotNow()
        }
        flot_toggle();
        $(document).ready(function () {
            // initialize datatable
            $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    columnDefs: [
                        {
                            targets: 2,
                            render: function (data, type, full, meta) {
                                return '<small class="mb-1 d-block">Completion with: ' + data + '%</small> <div class="progress progress-sm"><div class="progress-bar" role="progressbar" style="width:' + data + '%;" aria-valuenow="' + data + '" aria-valuemin="0" aria-valuemax="100"></div></div>';
                            },
                        },
                        {
                            targets: 3,
                            /*	The `data` parameter refers to the data for the cell (defined by the
                                `data` option, which defaults to the column being worked with, in this case `data: 16`.*/
                            render: function (data, type, full, meta) {
                                var badge = {
                                    1:
                                    {
                                        'title': 'Pending',
                                        'class': 'badge-warning'
                                    },
                                    2:
                                    {
                                        'title': 'Delivered',
                                        'class': 'badge-success'
                                    },
                                    3:
                                    {
                                        'title': 'Canceled',
                                        'class': 'badge-secondary'
                                    },
                                    4:
                                    {
                                        'title': 'Attempt #1',
                                        'class': 'bg-danger-100 text-white'
                                    },
                                    5:
                                    {
                                        'title': 'Attempt #2',
                                        'class': 'bg-danger-300 text-white'
                                    },
                                    6:
                                    {
                                        'title': 'Overdue',
                                        'class': 'badge-danger'
                                    },
                                    7:
                                    {
                                        'title': 'Attention!',
                                        'class': 'badge-primary'
                                    },
                                    8:
                                    {
                                        'title': 'In Progress',
                                        'class': 'badge-success'
                                    },
                                };
                                if (typeof badge[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="badge ' + badge[data].class + ' badge-pill">' + badge[data].title + '</span>';
                            },
                        }],
                });
        });
    </script>
}
