<div class="d-block text-center text-white">
    2019 © @(Settings.AppName) by&nbsp;<a href="@(Settings.Theme.Email)" class="text-white opacity-40 fw-500" title="@(Settings.Theme.User)" target="_blank">@(Settings.Theme.User)</a>
</div>
