<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> @(Settings.Version)
    </div>
    Made with <a href="http://adminlte.io">AdminLTE.io</a>.
</footer>
