
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/img/logo.png"
             alt="@Settings.AppName"
             class="brand-image img-circle elevation-0"
             style="opacity: .8">
        <div>
            <span class="brand-text"><strong>@Settings.AppName</strong></span>
        </div>

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">



            <div class="info flex-fill">
                <a href="#" class="d-block">
                    @(User.GetDisplayName())
                    <span class="badge badge-success float-right"> @(User.GetDefaultGroup())</span>
                </a>
            </div>
        </div>

     

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <vc:navigation />
            
        </nav>
       
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

     <vc:chart ></vc:chart>
</aside>
