@page
@model CustomizationsModel
@{
    ViewData["Title"] = "Customizations";
    ViewData["PageName"] = "documentation_customizations";
    ViewData["Heading"] = "<i class='fal fa-book'></i> Documentation: <span class='fw-300'>Customizations</span>";
    ViewData["Category1"] = "Documentation";
}
<div class="row documentation">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>SmartAdmin for ASP.NET Core 3.1 - Documentation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
<h3>Customizations</h3>
<p>Listed below are some of the most common and/or most voted instructions for making modifications to the SmartAdmin for .NET Core project. These instructions are not mandatory to be executed for your project, so please read them carefully before deciding to execute one of them, you will not unlock any hidden achievements (yet!). If they are applicable they should allow you to achieve the result you were after.</p>
<p>Is the instruction not working properly for you and/or you believe we overlooked a crucial step? Please let us know on the <a href="https://support.gotbootstrap.com/t/asp-net-core">Support Forum</a> so we can address it and ensure it is fixed for the next update! Your help and feedback is always appreciated.</p>
<hr>
<h4>Instructions</h4>
<ol>
<li><a href="#SwitchASP.NETCoreIdentitytouseintforKeys">Switch ASP.NET Core Identity to use int for Keys</a></li>
<li><a href="#RenamingtheApplicationandProject">Renaming the Application and Project</a></li>
<li><a href="#UsingMySQL/AuroraastheDataStore">Using MySQL/Aurora as the data store</a></li>
</ol>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="SwitchASP.NETCoreIdentitytouseintforKeys">Switch ASP.NET Core Identity to use int for Keys</h2></div><div class="panel-container show"><div class="panel-content">
<p>Changing the primary key from <code>string</code> to <code>int</code> consists of 4 main steps:</p>
<ol>
<li>Creating our own <strong>User</strong> and <strong>Role</strong> identity classes</li>
<li>Instructing our <code>DbContext</code> implementation to use these custom classes</li>
<li>Registering everything with EntityFramework Core</li>
<li>Updating the (existing) data store schema</li>
</ol>
<h3>ApplicationUser and ApplicationRole</h3>
<p>First lets create the <code>ApplicationUser</code> and <code>ApplicationRole</code> class. We do not need to specify any other properties or methods since our only intent is to change the primary key of these two classes.</p>
<pre class="prettyprint lang-csharp mb-2 mt-0">public class ApplicationUser : IdentityUser&lt;int&gt;
{
}

public class ApplicationRole : IdentityRole&lt;int&gt;
{
}
</pre>
<p>We ensure that the implementation specifies that we want to use <code>int</code> as our primary key type (<code>TKey</code>).</p>
<blockquote>
<p><strong>Hint:</strong> Unless you want to change the primary key across <strong>all</strong> of the Identity classes the above examples are sufficient to get your started. For <strong>full</strong> instructions on changing the primary key please refer to the documentation link at the end of this instruction.</p>
</blockquote>
<h3>Adjusting ApplicationDbContext</h3>
<p>Now let's open the <code>ApplicationDbContext</code> class located in the <strong>Data</strong> folder of the project and adjust the implementation to use our newly created classes.</p>
<pre class="prettyprint lang-csharp mb-2 mt-0">    public class ApplicationDbContext : IdentityDbContext&lt;ApplicationUser, ApplicationRole, int&gt;
    {
        public ApplicationDbContext (DbContextOptions&lt;ApplicationDbContext&gt; options) : base(options)
        {
        }
    }
</pre>
<h3>Registration with EntityFramework</h3>
<p>Open up the <code>Startup.cs</code> file in the root of the <strong>SmartAdmin.WebUI</strong> project, and look for these lines of code:</p>
<pre class="prettyprint lang-csharp mb-2 mt-0">services.AddIdentity&lt;IdentityUser, IdentityRole&gt;(options =&gt; options.SignIn.RequireConfirmedAccount = false)
    .AddRoleManager&lt;RoleManager&lt;IdentityRole&gt;&gt;()
    .AddEntityFrameworkStores&lt;ApplicationDbContext&gt;();
</pre>
<p>Change it to match the following:</p>
<pre class="prettyprint lang-csharp mb-2 mt-0">services.AddIdentity&lt;ApplicationUser, ApplicationRole&gt;(options =&gt; options.SignIn.RequireConfirmedAccount = false)
    .AddRoleManager&lt;RoleManager&lt;ApplicationRole&gt;&gt;()
    .AddEntityFrameworkStores&lt;ApplicationDbContext&gt;();
</pre>
<p>This instructs ASP.NET Identity that our newly created classes are used and exposed throughout. We also overwrite the type for the <code>RoleManager</code> so that <strong>Claims</strong> are added to the user after login using the new <code>ApplicationUser</code> and <code>ApplicationRole</code> types.</p>
<h3>Update the Identity Schema</h3>
<p>Since the ASP.NET Identity tables already exist with a different primary key, we will need to make some additional changes. The easiest route to take here is to just delete the existing database. Once the Application is started again the database will be re-created with the correct schema and you can then add the default user user again using the <strong>Registration</strong> page.</p>
<p>If you cannot delete the database, then we will need to run code first migrations to change the tables. However, by taking this route the new integer primary key will not be set up as a SQL IDENTITY property in the database. You will have to manually set the Id column as an IDENTITY using SQL Management Studio or other tooling/script.</p>
<hr>
<p>And that's it! Both <code>ApplicationUser</code> and <code>ApplicationRole</code> are now using <code>int</code> as their primary keys and SmartAdmin for .NET Core can be used as before!</p>
<h4>Reference</h4>
<blockquote>
<p>If you wish to change more than just the <strong>User</strong> and <strong>Role</strong> you can find out more information about this topic on the <a href="https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/change-primary-key-for-users-in-aspnet-identity">Change Primary Key</a> page, as part of the <strong>ASP.NET Identity</strong> section of the official documentation.</p>
</blockquote>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="RenamingtheApplicationandProject">Renaming the Application and Project</h2></div><div class="panel-container show"><div class="panel-content">
<p>Very often and not uncommon to do as one of the first steps after you have choosen the Edition you want to use as the basis for your project is to ensure that it is fully renamed, or whitelabeled, using the company and/or project name that you are working on.</p>
<p>The steps below aim to provide you with the required instructions to rename all project related folder, files and namespaces and to adjust the application settings to give your project a head start.</p>
<p>The following steps will need to be performed:</p>
<ol>
<li>Renaming the Solution and Project(s)</li>
<li>Update Code References</li>
<li>Update Application Settings</li>
<li>Rename Project Directory</li>
</ol>
<h3>Renaming Solution and Project</h3>
<blockquote>
<p><strong>Note:</strong> Using the instructions below you would replace <code>Acme</code> with the name of your choice, we used this value for the sake of the example and instruction</p>
</blockquote>
<p>Assuming you have the project open in Visual Studio 2019:</p>
<ul>
<li>Right-click on the Solution and press the <code>F2</code> key to rename it (e.g. <code>Acme</code>)
<ul>
<li>This creates a solution file called <code>Acme.sln</code> in the same directory</li>
</ul>
</li>
<li>Right-click on the Project and press the <code>F2</code> key to rename it (e.g. <code>Acme.WebUI</code>)
<ul>
<li>This creates a project file called <code>Acme.WebUI.csproj</code> in the same directory</li>
<li>The root namespace of the project is also changed to <code>Acme.WebUI</code></li>
</ul>
</li>
</ul>
<h3>Update Code References</h3>
<p>Now we need to update the existing files to use the new namespace.</p>
<ol>
<li>With Visual Studio still open press the key combination: <code>SHFT+CTRL+H</code></li>
<li>Enter the following values on the the <strong>Replace in Files</strong> dialog
<ul>
<li>Enter the search term <code>SmartAdmin</code></li>
<li>Enter the replacement term <code>Acme</code></li>
<li>Restrict the search to <code>*.cs</code> files</li>
<li>Select the <strong>Match Case</strong> checkbox</li>
<li>Click on <strong>Replace All</strong></li>
</ul>
</li>
<li>Enter the following values on the the <strong>Replace in Files</strong> dialog
<ul>
<li>Enter the search term <code>using SmartAdmin</code></li>
<li>Enter the replacement term <code>using Acme</code></li>
<li>Restrict the search to <code>*.cshtml</code> files</li>
<li>Select the <strong>Match Case</strong> checkbox</li>
<li>Click on <strong>Replace All</strong></li>
</ul>
</li>
<li>Enter the following values on the the <strong>Replace in Files</strong> dialog
<ul>
<li>Enter the search term <code>SmartAdmin.WebUI</code></li>
<li>Enter the replacement term <code>Acme.WebUI</code></li>
<li>Restrict the search to <code>*.cshtml</code> files</li>
<li>Select the <strong>Match Case</strong> checkbox</li>
<li>Click on <strong>Replace All</strong></li>
</ul>
</li>
</ol>
<h3>Update Application Settings</h3>
<ol>
<li>Open the file <code>appsettings.json</code> located in the root of the <code>Acme.WebUI</code> project</li>
<li>Press the key combination: <code>SHFT+H</code>
<ul>
<li>Replace <code>SmartAdmin</code> with <code>Acme</code></li>
<li>Click on <strong>Replace All</strong></li>
</ul>
</li>
<li>Build and Launch the website
<ul>
<li>Press <code>SHFT+CTRL+B</code> to build the Application and check for faulty output</li>
<li>Press <code>CTRL+F5</code> to launch the Application in IIS Express</li>
</ul>
</li>
</ol>
<h3>Rename Project Directory</h3>
<p>Unfortunately this does not give us a complete rename operation as the initial folder of the <strong>WebUI</strong> project will still be named <code>SmartAdmin.WebUI</code>. In order to address this we will need to carry out a small set of last steps.</p>
<ol>
<li>Close Visual Studio 2019</li>
<li>Use explorer (or any other file manager program) to open up the SmartAd...I mean Acme folder</li>
<li>Locate the <code>./src/SmartAdmin.WebUI</code> folder and rename it to <code>Acme.WebUI</code></li>
<li>Open the <code>Acme.sln</code> file in the root of the project package folder in your favorite editor</li>
<li>Press <code>CTRL+H</code> and replace <code>SmartAdmin</code> with <code>Acme</code></li>
</ol>
<p>That should be it! Your project is now fully renamed to use the name you prefer! It would be nice if Visual Studio would go the extra mile to ensure renaming is less cumbersome but luckily this is usually only a one time effort.</p>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="UsingMySQL/Auroraasthedatastore">Using MySQL/Aurora as the data store</h2></div><div class="panel-container show"><div class="panel-content">
<p>In the interactive instructions we already demonstrated how a few simple steps allowed you to use SQL Server instead of SQLite as the data store. With other data stores out there we felt it would be helpful to also describe the steps required to use MySql/Aurora instead. Aurora is a data store created by Amazon AWS and is based on top of MySql and will work using the same instructions.</p>
<p>The following steps are required to switch the data provider to MySql</p>
<ol>
<li>Choose the correct NuGet package</li>
<li>Switch the Data Provider to MySql</li>
<li>Adjust the connection string</li>
</ol>
<h3>Choosing the right NuGet package</h3>
<p>At the time of writing Oracle has yet to publish a .NET Core 3.x compatible driver package. We would still recommend using this package when it is released, but for the time being we are required to choose a different package in order to support MySql on .NET Core 3.1.</p>
<ol>
<li>Right-click your Solution and choose: <strong>Manage NuGet packages for Solution</strong></li>
<li>Make sure the <strong>Browse</strong> tab is selected and search for the <code>Pomelo.EntityFrameworkCore.MySql</code> package</li>
<li>Add the package to the <code>Acme.WebU</code> erhh...the <code>SmartAdmin.WebUI</code> project</li>
<li>Open the <code>Startup.cs</code> file in the root of the project
<ul>
<li>Replace <code>services.AddDbContext&lt;ApplicationDbContext&gt;(options =&gt; options.UseSqlite(Configuration.GetConnectionString(&quot;DefaultConnection&quot;)));</code></li>
<li>With: <code>services.AddDbContext&lt;ApplicationDbContext&gt;(options =&gt; options.UseMySql(Configuration.GetConnectionString(&quot;DefaultConnection&quot;)));</code></li>
</ul>
</li>
<li>Open the <code>appsettings.json</code> file in the root of the project
<ul>
<li>Change the connection string value to a MySql compatible connection string</li>
<li>e.g. <code>server=[DB-Server Name];port=3306;database=[DB-Name];uid=[User-ID];password=[Password]</code></li>
</ul>
</li>
</ol>
<p>In case you are getting any errors and/or issues with mismatching types, you will need to drop the <strong>Migrations</strong> folder inside the project and create a new migration</p>
<ol>
<li>Open the <strong>Package Manager Console</strong></li>
<li>Type: <code>Add-Migration InitialCreate</code></li>
<li>Then type: <code>Update-Database</code></li>
</ol>
<p>This should ensure that the data store is initialized using proper MySql schema types and updates the snapshot of the model accordingly.</p>
<blockquote>
<p>Please see the <a href="https://www.c-sharpcorner.com/article/using-asp-net-core-3-0-identity-with-mysql/">MySql and .NET Core 3.0 Identity</a> article for more details and information.</p>
</blockquote>
<hr>
<p>Copyright © 2020 by Walapa. All rights reserved.
This documentation or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a review.</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
