@page
@model LicensingInformationModel
@{
    ViewData["Title"] = "Licensing Information";
    ViewData["PageName"] = "documentation_licensing_information";
    ViewData["Heading"] = "<i class='fal fa-book'></i> Documentation: <span class='fw-300'>Licensing Information</span>";
    ViewData["Category1"] = "Documentation";
}
<div class="row documentation">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>SmartAdmin for ASP.NET Core 3.1 - Documentation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
<h3>Licensing Information</h3>
<p>With the purchase of both a Single License as well as an Extended License you are eligible to <strong>3 months</strong> of support after your purchase date. During this period you are able to ask questions relating to the .NET Core side of things as well as parts of the Theme itself and you are eligible to receive limited support for discussing modifications you are planning to make as part of your project. Please do note that extended support is <strong>not</strong> provided for the Seed edition of this product.</p>
<h4>Extended Support</h4>
<p>There is currently no possibility to purchase and/or otherwise obtain extended support for this product. If any plans are announced in the near future we will update our Licensing Terms in accordance with what WrapBootstrap provides, at which point we will inform you as well of the outcome and how it affects your purchase. There is always the possibility of purchasing another Single License to extend your support, but we do not want this to be your only option moving forward, so please stay stuned!</p>
<h4>Customization Support</h4>
<p>If you wish to contact us regarding customization quotes you can reach us on: <a href="mailto:smartadmin@@walpa.nl">smartadmin@@walapa.nl</a>. Include as much description as possible to ensure we can understand your exact inquiry and/or which parts of the project you are asking support for.</p>
<p>All customization work is quoted based on the amount of hours required for the effort to be documented, agreed and delivered, with the exception of the following fixed price tasks:</p>
<ol>
<li>Theme Customization - <strong>200 EUR</strong></li>
<li>Project Structure - <strong>100 EUR</strong></li>
<li>Git Integration - <strong>100 EUR</strong></li>
</ol>
<p>Please ensure your license receipt is added to the email to verify your purchase.</p>
<hr>
<p>Copyright © 2020 by Walapa. All rights reserved. This documentation or any portion thereof
may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a review.</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
