@page
@model WelcomeModel
@{
  ViewData["Title"] = "Welcome";
  ViewData["Category1"] = "Value Mapping Cockpit";
  ViewData["PageName"] = "aspnetcore_welcome";
  ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: <span class='fw-300'>SmartAdmin for .NET Core</span>";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
}
<div class="row">
    <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 ">
              <div class="col-12">
                <img src="~/img/project.png" class="product-image" alt="Product Image">
              </div>
             
            </div>
            <div class="col-12 ">
              <h3 class="my-3"> Value Mapping Cockpit </h3>
              <p>
                  Value Mapping Cockpit is a central platform to maintain all necessary legacy value to new value mapping for defined fields(e.g. customized fields, payment terms), these value mappings should be maintained before actual data migration in order to have proper transformation to the newly defined values. Additionally all mapping result after migration for created objects(e.g. account document number) will be uploaded to this platform for data validation.
              </p>

              

            </div>
          </div>
          
        </div>

      </div>
</div>
 
@Html.AntiForgeryToken()
@section ScriptsBlock{
<script>
    
  
</script>
}
