@page
@model ForgotPasswordModel
@{
    ViewData["PageName"] = "forgotpassword";
}

@section PageHeading {
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-center">
            "My dog ate my password"
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                Not a problem, happens to the best of us. Just use the form below to reset it!
            </small>
        </h2>
    </div>
}

<div class="col-xl-6 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" method="post">
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Your username or email</label>
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Recovery email" required>
                <span class="invalid-feedback" asp-validation-for="Input.Email">No, you missed this one.</span>
                <div class="help-block">We will email you the instructions on how to reset your password.</div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4 ml-auto text-right">
                    <button id="js-login-btn" type="submit" class="btn btn-danger">Recover</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-login-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
