@page
@inject Microsoft.Extensions.Localization.IStringLocalizer<ForgotPasswordConfirmation> _localizer
@model ForgotPasswordConfirmation
@{
  ViewData["PageName"] = "Forgotpasswordconfirmation";
  ViewData["Title"] = _localizer["Forgot password confirmation"].Value;
}

@section PageHeading {
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-center">
            @ViewData["Title"]
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                @_localizer["Please check your email to reset your password."]
            </small>
        </h2>
    </div>
}


