@page
@model RegisterModel
@{
    ViewData["PageName"] = "register";
}

@section PageHeading {
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-center">
            Register now, its free!
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                Your registration is free for a limited time. Enjoy SmartAdmin on your mobile, desktop or tablet.
                <br>It is ready to go wherever you go!
            </small>
        </h2>
    </div>
}

<div class="col-xl-6 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
            <div class="form-group row">
                <label class="col-xl-12 form-label">Your first and last name (optional)</label>
                <div class="col-6 pr-1">
                    <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                    <span class="invalid-feedback" asp-validation-for="Input.FirstName">Sorry, you missed this one.</span>
                </div>
                <div class="col-6 pl-1">
                    <input type="text" asp-for="Input.LastName" class="form-control" placeholder="First Name" />
                    <span class="invalid-feedback" asp-validation-for="Input.LastName">Sorry, you missed this one.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Email will be needed for verification and account recovery</label>
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email for verification" value="drlantern@gotbootstrap.com" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Email">Sorry, you missed this one.</span>
                <div class="help-block">Your email will also be your username</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">Please pick a password</label>
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Email for verification (minimum 6 characters)" value="Password123!" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
                <div class="help-block">Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emojis.</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.ConfirmPassword">Please confirm your password</label>
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Email for verification (minimum 6 characters)" value="Password123!" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.ConfirmPassword">Sorry, you missed this one.</span>
            </div>
            <div class="form-group demo">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Input.AgreeToTerms" />
                    <label class="custom-control-label" asp-for="Input.AgreeToTerms">I agree to terms & conditions</label>
                    <span class="invalid-feedback" asp-validation-for="Input.AgreeToTerms">You must agree before proceeding.</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Input.SignUp" />
                    <label class="custom-control-label" asp-for="Input.SignUp">Sign up for newsletters (don't worry, we won't send that many)</label>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 ml-auto text-right">
                    <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">Send verification</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-login-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
