<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE Starter Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_Styles" />
    @RenderSection("HeadBlock", required: false)
</head>
<body class="hold-transition login-page">


    @RenderBody()

    <!-- END Page Wrapper -->

    <partial name="_Scripts" />
    @RenderSection("ScriptsBlock", required: false)
</body>
</html>
