@model AdminLTE.WebUI.Pages.Shared.Components.ProjectSelector.DefaultModel
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="selectedproject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Selected Project:@Model.DefaultProjectName
        </a>
<div class="dropdown-menu">
        @foreach (var item in Model.Projects)
        {
           <form method="GET" >
             <input type="hidden" name="projectName" value="@item.Name" />
             <input type="hidden" name="projectId" value="@item.Id" />
             <a href="javascript:void()" onclick="this.parentElement.submit();" class="dropdown-item" >@item.Name</a>
           </form>
        }
</div>
</li>
