@page
@model ErrorAnnouncedModel
@{ 
	ViewData["Title"] = "Big Error";
	ViewData["Category1"] = "Page Views";
	ViewData["Category2"] = "Error Pages";
	ViewData["PageName"] = "page_error_announced";
}
@section HeadBlock {}
<div class="h-alt-f d-flex flex-column align-items-center justify-content-center text-center">
	<h1 class="page-error color-fusion-500">
		ERROR <span class="text-gradient">404</span>
		<small class="fw-500">
			Something <u>went</u> wrong!
		</small>
	</h1>
	<h3 class="fw-500 mb-5">
		You have experienced a technical error. We apologize.
	</h3>
	<h4>
		We are working hard to correct this issue. Please wait a few moments and try your search again. 
		<br>In the meantime, check out whats new on @Settings.AppName:
	</h4>
</div>
@section ScriptsBlock {}
