@page
@model LoginModel
@{
    ViewData["PageName"] = "login";
}

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
}

@section PageHeading {
    <div class="col col-md-6 col-lg-7 hidden-sm-down">
        <h2 class="fs-xxl fw-500 text-white">
            The simplest UI toolkit for developers &amp; programmers
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                Presenting you with the next level of innovative UX design and engineering. The most modular toolkit available with over 600+ layout permutations. Experience the simplicity of SmartAdmin, everywhere you go!
            </small>
        </h2>
        <a href="#" class="fs-lg fw-500 text-white opacity-70">Learn more &gt;&gt;</a>
        <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
            <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                Find us on social media
            </div>
            <div class="d-flex flex-row">
                <a href="#" class="mr-2 fs-xxl" style="color: #708fd0;">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="#" class="mr-2 fs-xxl" style="color: #38A1F3">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="#" class="mr-2 fs-xxl" style="color: #da4d51;">
                    <i class="fab fa-google-plus-square"></i>
                </a>
                <a href="#" class="mr-2 fs-xxl" style="color: #459dcc;">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
}

<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
        Secure login
    </h1>
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" method="post">
            <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Username</label>
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email for verification" value="drlantern@gotbootstrap.com" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Email">Sorry, you missed this one.</span>
                <div class="help-block">The email address you registered with</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">Password</label>
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Your password (minimum 6 characters)" value="Password123!" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
                <div class="help-block">The password you specified during registration</div>
            </div>
            <div class="form-group text-left">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe" />
                    <label class="custom-control-label" asp-for="Input.RememberMe">Remember me for the next 30 days</label>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 pr-lg-1 my-2">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Sign in with <i class="fab fa-google"></i></button>
                </div>
                <div class="col-lg-6 pl-lg-1 my-2">
                    <button id="js-login-btn" type="submit" class="btn btn-danger btn-block btn-lg">Secure login</button>
                </div>
            </div>
            <div class="text-center">
                <a asp-page="ForgotPassword" class="opacity-90">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-logsin-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
