<div class="info-card">
	<img src="~/img/demo/avatars/@(Settings.Theme.Avatar)" class="profile-image rounded-circle" alt="@(Settings.Theme.User)">
	<div class="info-card-text">
		<a href="#" class="d-flex align-items-center text-white">
			<span class="text-truncate text-truncate-sm d-inline-block">
				@(Settings.Theme.User)
			</span>
		</a>
		<span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>
	</div>
	<img src="~/img/card-backgrounds/cover-5-lg.png" class="cover" alt="cover">
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
		<i class="@(Settings.Theme.IconPrefix) fa-angle-down"></i>
	</a>
</div>