@if (Settings.Features.LayoutSettings)
{
<div class="modal fade js-modal-settings modal-backdrop-transparent" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-right modal-md">
		<div class="modal-content">
			<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center w-100">
				<h4 class="m-0 text-center color-white">
					Layout Settings
					<small class="mb-0 opacity-80">User Interface Settings</small>
				</h4>
				<button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body p-0">
				<partial name="_TabSettings"/>
				<span id="saving"></span>
			</div>
		</div>
	</div>
</div>
}