@if (ViewBag.Category1?.Length > 0)
{
<ol class="breadcrumb page-breadcrumb">
	<li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
	@if (ViewBag.Category1?.Length > 0)
{<li class="breadcrumb-item">@ViewBag.Category1</li>}
	@if (ViewBag.Category2?.Length > 0)
{<li class="breadcrumb-item">@ViewBag.Category2</li>}
	<li class="breadcrumb-item active">@ViewBag.Title</li>
	<li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
}
