@if (Settings.Features.AppFooter)
{
<footer class="page-footer" role="contentinfo">
	<div class="d-flex align-items-center flex-1 text-muted">
		<span class="hidden-md-down fw-700">2020 &copy; @Settings.App for @Settings.AppFlavor by&nbsp </span>
	</div>
	<div>

	</div>
</footer>
}
