<div class="d-flex d-column align-items-start mb-3">
	<img src="~/img/logo.png" alt="@Settings.AppName" class="mr-3 mt-1">
	<div class="border-left pl-3">
		<span class="fw-500 fs-lg d-block l-h-n">@(Settings.Theme.User)</span>
		<span class="fw-400 fs-nano d-block l-h-n mb-1">Orthopedic Surgeon</span>
		<a href="#" class="mr-1 fs-xl" style="color:#3b5998"><i class="fab fa-facebook-square"></i></a>
		<a href="#" class="mr-1 fs-xl" style="color:#38A1F3"><i class="fab fa-twitter-square"></i></a>
		<a href="#" class="mr-1 fs-xl" style="color:#0077B5"><i class="fab fa-linkedin"></i></a>
		<a href="#" class="mr-1 fs-xl" style="color:#ff0000"><i class="fab fa-youtube-square"></i></a>
	</div>
</div>
<div class="text-muted fs-nano">
	​PRIVATE AND CONFIDENTIAL. This e-mail, its contents and attachments are private and confidential and is intended for the recipient only. Any disclosure, copying or unauthorized use of such information is prohibited. If you receive this message in error, please notify us immediately and delete the original and any copies and attachments.
</div>