@page
@model GettingStartedModel
@{
    ViewData["Title"] = "Getting Started";
    ViewData["PageName"] = "documentation_getting_started";
    ViewData["Heading"] = "<i class='fal fa-book'></i> Documentation: <span class='fw-300'>Getting Started</span>";
    ViewData["Category1"] = "Documentation";
}
<div class="row documentation">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>SmartAdmin for ASP.NET Core 3.1 - Documentation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
<p>Please use the quick instructions below to load the project and start exploring its reach set of features. If you wish to change the default database we have provided you with a quick instruction on howto switch it out for another one.</p>
<ul>
<li>For more instructions please refer to the <strong>Customization</strong> menu item under <strong>Documentation</strong></li>
<li>If you wish to learn more about the site structure please to the <strong>Site Structure</strong> menu item under <strong>Documentation</strong></li>
<li>Dying to know what was changed/added in this latest update of SmartAdmin for .NET Core? Then pleas head over to the <strong>Changelog</strong> menu item under <strong>Documentation</strong></li>
</ul>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="UsingVisualStudio2019toloadtheSolution">Using Visual Studio 2019 to load the Solution</h2></div><div class="panel-container show"><div class="panel-content">
<ol>
<li>Navigate to the folder containing the extracted project package and double-click the SmartAdminCore.sln file
<ul>
<li><strong>Note:</strong> You can no longer use Visual Studio 2017 for .NET Core 3.1 projects, for working with .NET Core 2.1 you will need to down-target the framework to <code>netcoreapp2.1</code> and then you can still use Visual Studio 2017, but we highly recommend upgrading to the latest version.</li>
<li><strong>Warning:</strong> ASP.NET Core 2.2 is no longer supported by Microsoft and as such it is no longer included as part of the package.</li>
</ul>
</li>
<li>Once the project is loaded press <code>CTRL+F5</code> to launch the website using IIS Express.
<ul>
<li>The site has been configured to use <strong>SSL/HTTPS</strong> by default.</li>
</ul>
</li>
<li>Should you be presented with the <strong>Login</strong> page, simply press <strong>Secure Login</strong> to enter the website using the default user.
<ul>
<li>The default credentials should be pre-filled for you already.</li>
<li>If you are presented with an <strong>Invalid login</strong> error then please click <strong>Register</strong> to add the default account.</li>
</ul>
</li>
</ol>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="RunningSmartAdminfor.NETCore">Running SmartAdmin for .NET Core</h2></div><div class="panel-container show"><div class="panel-content">
<blockquote>
<p>Note: If your computer is already provisioned with the necessary .NET prerequisites, then feel free to skip ahead to <strong>step 3</strong>.</p>
</blockquote>
<ol>
<li>Download and install the ASP.NET Core 3.1 SDK here: <a href="https://dotnet.microsoft.com/download/dotnet-core/3.1">https://dotnet.microsoft.com/download/dotnet-core/3.1</a>
<ul>
<li>You can verify the installation by opening a command line tool of your choice and running the following command: dotnet --info</li>
<li>If you get a message similar to: dotnet is not recognized as an internal command, then please try downloading the 32-bit version of the ASP.NET Core 3.1 SDK</li>
<li>You can find it here: <a href="https://dotnet.microsoft.com/download/dotnet-core/3.1">https://dotnet.microsoft.com/download/dotnet-core/3.1</a></li>
</ul>
</li>
<li>SmartAdmin for ASP.NET Core 3.1 comes built-in with <strong>SqlLite</strong> as part of EntityFramework Core (No additional installation is required to use this as your data store)
<ul>
<li>Note: You can download and install <strong>SQL Server Express</strong> here: <a href="https://go.microsoft.com/fwlink/?linkid=853017">https://go.microsoft.com/fwlink/?linkid=853017</a>.</li>
<li>Note: You can also install <strong>LocalDB</strong> as part of Visual Studio. During Visual Studio installation, select the <strong>.NET desktop development</strong> workload, which includes <strong>SQL Server Express LocalDB</strong>.</li>
<li>If you are going to use <strong>SQL Express</strong> then the default connection string value in <code>appSettings.json</code> will need to be adjusted</li>
<li>The value and instructions are written in Startup.cs but also listed here for your convenience:</li>
<li><code>&quot;Server=localhost\\SQLEXPRESS;Database=aspnet-smartadmin;Trusted_Connection=True;MultipleActiveResultSets=true&quot;</code></li>
</ul>
</li>
<li>Open a command prompt and ensure you are inside the directory containing the <strong>ASP.NET Core 3.1 project sources</strong> of SmartAdmin for .NET Core
<ul>
<li>This is the directory containing the <code>SmartAdminCore.sln</code> file</li>
</ul>
</li>
<li>Run the following commands (in order) using the command line tool of your choice:
<ul>
<li><code>dotnet build</code> (this triggers <code>dotnet restore</code> as well)</li>
<li><code>dotnet publish</code> (<strong>optional</strong> unless you require a specific deployment)</li>
<li><code>dotnet run --project ./src/SmartAdmin.WebUI</code></li>
<li><strong>Note:</strong> You can also use the <code>watch</code> command to automatically reload your website when you change a file</li>
<li><code>dotnet watch --project ./src/SmartAdmin.WebUI run</code></li>
</ul>
</li>
<li>Launch your favorite browser and enter the following URL: <code>https://localhost:5001</code>, and try to login using the provided credentials
<ul>
<li>You may get a page mentioning that: 'Applying the existing migrations may resolve this issue'</li>
<li>Go ahead and click on the blue <code>Apply Migrations</code> button</li>
</ul>
</li>
<li>If you receive a message stating: '<strong>Invalid login attempt</strong>' then go ahead and <strong>Register</strong> the default user
<ul>
<li>The username and password should be pre-filled for demo purposes</li>
</ul>
</li>
</ol>
<hr>
<p>Copyright © 2020 by Walapa. All rights reserved. This documentation or any portion thereof
may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a review.</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
