@page
@model HowtoContributeModel
@{
    ViewData["Title"] = "Howto Contribute";
    ViewData["PageName"] = "documentation_howto_contribute";
    ViewData["Heading"] = "<i class='fal fa-book'></i> Documentation: <span class='fw-300'>Howto Contribute</span>";
    ViewData["Category1"] = "Documentation";
}
<div class="row documentation">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>SmartAdmin for ASP.NET Core 3.1 - Documentation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
<h3>How To Contribute</h3>
<p>At the time of this writing, we are heavily focused on expanding the core features of the product and filling out the documentation, issue lists, milestones plans and supporting any issues that arise in the meantime, as this .NET Core oriented Theme first starts to engage with the community at large. During the intial stages of this project, issues have always been made known to us by using a service like Bitbucket for beta users to log support tickets, we want to continue this trend as it is very important that we keep the quality and engagement high with you and other customers.</p>
<h4>Beta Program</h4>
<p>In addition to getting familiar with the codebase you will be able to register issues of any type (simple bugs, new feature requests, requirements and architectural updates) upon which you can contribute to the project or request assistance from us. In the meantime, if you do find any issues with the codebase or other content in our code please log an issue on the <a href="https://support.gotbootstrap.com/t/asp-net-core">Support Forum</a> and I will do my best to work with you to solve it.</p>
<p>Steps on how to apply on becoming a beta tester and gain access to these privileges will be announced very Soon™.</p>
<hr>
<p>Copyright © 2020 by Walapa. All rights reserved. This documentation or any portion thereof
may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a review.</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
