@page
@model IntroductionModel
@{
    ViewData["Title"] = "Introduction";
    ViewData["PageName"] = "documentation_introduction";
    ViewData["Heading"] = "<i class='fal fa-book'></i> Documentation: <span class='fw-300'>Introduction</span>";
    ViewData["Category1"] = "Documentation";
}
<div class="row documentation">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>SmartAdmin for ASP.NET Core 3.1 - Documentation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
<h3>Thank You</h3>
<p>We are excited to have you as our customer and as with any Theme and/or Product, good documentation is essential to provide you with that first solid impression and we hope we have delivered on that expectation.</p>
<p>These pages should allow you to get a good and basic understanding of what the template has to offer, in addition it should provide you with the necessary information to understand how the Project and Theme have been structured for use with ASP.NET.</p>
<p>Although <strong>SmartAdmin for ASP.NET Core</strong> and the <strong>Documentation</strong> is primarily created with ASP.NET MVC in mind, other technologies such as <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start">Razor Pages</a> and <a href="https://www.devexpress.com/support/training/blazor/">Blazor</a> are not be ignored and can safely be used side-by-side if this is part of the requirement for your project.</p>
<p>In the case of the <strong>Documentation</strong> not every example is equally applicable when <strong>Razor Pages</strong> are used, so some time investment might be required to locate the Razor Page equivalent instruction and/or example, our apologies.</p>
<blockquote>
<p><strong>Note:</strong> Please see the <a href="#Flavors">ASP.NET Flavors</a> section of the documentation for more information on the available flavors of ASP.NET this theme currently has to offer.</p>
</blockquote>
<h3>SmartAdmin for ASP.NET Core</h3>
<p>This template and project demonstrates the core principles and concepts of how you can integrate SmartAdmin 4.x with ASP.NET Core. Although we aim, and do our best, to create a reference project based on community adopted guidelines and principles, this project does not however claim to be <strong>the</strong> best way to integrate templates within ASP.NET. That said, with our years of experience and our focus on quality we believe that this template will provide you with a great starting point that you can use for your own project purposes and customizations.</p>
<p>Having a basic level of knowledge about the ASP.NET Platform and the .NET Core Framework is not a must but will certainly help you understand a lot more of what is explained. To get a head start on these topics, we would kindly ask you to check the <a href="#Resources">Resources</a> listed below.</p>
<p>We will do our best to ensure that all levels of experience can benefit and read along!</p>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="TableofContents">Table of Contents</h2></div><div class="panel-container show"><div class="panel-content">
<ol>
<li><strong>Introduction</strong></li>
<li><strong><a asp-page="gettingstarted" asp-fragment="">Getting Started</a></strong></li>
<li><strong><a asp-page="sitestructure" asp-fragment="">Site Structure</a></strong></li>
<li><strong><a asp-page="solutionarchitecture" asp-fragment="">Solution Architecture</a></strong></li>
<li><strong><a asp-page="customizations" asp-fragment="">Customizations</a></strong></li>
<li><strong><a asp-page="howtocontribute" asp-fragment="">How To Contribute</a></strong></li>
<li><strong><a asp-page="licensinginformation" asp-fragment="">Licensing Information</a></strong></li>
<li><strong><a asp-page="changelog" asp-fragment="">Changelog</a></strong></li>
</ol>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="Flavors">Flavors</h2></div><div class="panel-container show"><div class="panel-content">
<p>The package you downloaded is divided into several projects, or <strong>Flavors</strong>, that should align with your project needs, whether it's a quick start of a few pages or a full-blown management portal, each project has its own unique set of features to help you decide.</p>
<p>And if you can't find the flavor you were looking for? No problem, the projects and theme have been structured in such a way that combining any set of features should be achievable with minimal effort.</p>
<p>With that said, here is the overview of the current flavors that are supported in <strong>SmartAdmin for ASP.NET</strong>.</p>
<ul>
<li>
<p><strong>SmartAdmin for ASP.NET Core 3.1 - Bare</strong> - Want to start from scratch and slowly add to your site structure and pages? Then <strong>Bare</strong> will be your best starting point.</p>
</li>
<li>
<p><strong>SmartAdmin for ASP.NET Core 3.1 - Slim</strong> - Need a light version with minimal plugins and fast page loading without compromise? No database or authentication support needed? Then <strong>Slim</strong> will be your best starting point.</p>
</li>
<li>
<p><strong>SmartAdmin for ASP.NET Core 3.1 - Seed</strong> - Want to checkout the most popular pages SmartAdmin has to offer, such as Dashboards, Charts, Chat and other cool features? Then <strong>Seed</strong> will allow you to view all the required markup to start planning the features you want to include.</p>
</li>
<li>
<p><strong>SmartAdmin for ASP.NET Core 3.1 - Full</strong> - Planning on building a fully fledged out Management Portal with Dashboards and database driven logic and data combined with other cool features? Then <strong>Full</strong> will ensure that you will have all the necessary examples and plugins to start building your next big project, including a well adopted architecture and trusted design patterns to guide your every step!</p>
</li>
</ul>
<blockquote>
<p><strong>Note:</strong> For a full matrix overview of the features per Flavor please see the <a href="https://smartadmin-core.azurewebsites.net/aspnetcore/editions">Editions</a> page, available through the online Preview of the <strong>Full</strong> flavor.</p>
</blockquote>
<h3>ASP.NET Razor Pages and Blazor</h3>
<p>We have also included a complete <strong>Razor Pages</strong> based flavor of the SmartAdmin Theme using the <strong>Full</strong> feature set. Any and all features, such as Filters and Authentication have been thouroughly tested to ensure these remain compatible when switching to the <strong>Razor Pages</strong> flavor.</p>
<blockquote>
<p><strong>Note:</strong> We are currently still evaluating the possibility of adding a <strong>server-side</strong> Blazor flavor to the Project, but we want to make sure this does not compromise the feature set of the Theme, so please stay tuned for future updates!</p>
</blockquote>
</div></div></div><div class="panel"><div class="panel-hdr"><h2 id="Resources">Resources</h2></div><div class="panel-container show"><div class="panel-content">
<p>The following references can be used to get a basic understanding of the technologies and concepts that are used throughout the <strong>SmartAdmin for ASP.NET Core</strong> Theme:</p>
<ol>
<li><a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet">ASP.NET Introduction</a></li>
<li><a href="https://dotnet.microsoft.com/apps/aspnet/mvc">MVC Introduction</a></li>
<li><a href="https://docs.microsoft.com/en-us/ef/core/">EF Core Introduction</a></li>
<li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start">Razor Pages Introduction</a></li>
<li><a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity">ASP.NET Core Identity</a></li>
<li><a href="https://www.devexpress.com/support/training/blazor/">Blazor Introduction</a></li>
<li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/">C# Introduction</a></li>
<li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions">Coding Guidelines</a></li>
<li><a href="https://docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices">Best Practices</a></li>
<li><a href="https://dotnet.microsoft.com/learn/aspnet">ASP.NET Tutorials</a></li>
</ol>
<hr>
<p>Copyright © 2020 by Walapa. All rights reserved. This documentation or any portion thereof
may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a review.</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
