<div class="page-logo">
	<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
		<img src="~/img/@(Settings.Theme.Logo)" alt="@Settings.AppFlavor" aria-roledescription="logo">
		<span class="page-logo-text mr-1">@Settings.AppName</span>
		<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">@Settings.AppFlavorSubscript</span>
		@if (ViewBag.AppShortcutModal?.Length > 0)
{ 
		<i class="@(Settings.Theme.IconPrefix) fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
		}
	</a>
</div>