<!DOCTYPE html>
<partial name="_CopyrightHeader" />
<html lang="en">
<head>
    <partial name="_Head" />
    @RenderSection("Header", required: false)
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
                <partial name="_PageHeader" />
                <div class="flex-1" style="background: url('/img/svg/pattern-1.svg') no-repeat center bottom fixed; background-size: cover;">
                    <div class="container py-4 my-lg-5 px-4 px-sm-0">
                        <div class="row">
                            @RenderSection("PageHeading", required: false)
                            @RenderBody()
                        </div>
                    </div>
                    <partial name="_PageFooter" />
                    <partial name="_ColorProfileReference" />
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    <partial name="_GoogleAnalytics" />
    <partial name="_ScriptsBasePlugins" />
    @RenderSection("Scripts", required: false)
</body>
</html>